<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Formulary Management Database</description>
    <display-name>Formulary Management</display-name>
    <distributable/>

    <!-- Override PrimeFaces 10.0.0 Default Theme to retain CSS overrides created for PrimeFaces 8.0 Default Theme -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>aristo</param-value>
    </context-param>
       
    <security-constraint>
        <display-name>AdminAccess</display-name>
        <web-resource-collection>
            <web-resource-name>AdminWebResources</web-resource-name>
            <url-pattern>/pages/admin/*</url-pattern>
            <url-pattern>/pages/Admin.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PSDADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>FmdbUserAccess</display-name>
        <web-resource-collection>
            <web-resource-name>UserResources</web-resource-name>
            <url-pattern>/pages/reports/*</url-pattern>
            <url-pattern>/pages/Reports.xhtml</url-pattern>
            <url-pattern>/pages/Details.xhtml</url-pattern>
            <url-pattern>/pages/Search.xhtml</url-pattern>
            <url-pattern>/ExpiredError.xhtml</url-pattern>
            <url-pattern>/AccessDenied.xhtml</url-pattern>
            <url-pattern>/Error.xhtml</url-pattern>
            <url-pattern>/pageNotFound.xhtml</url-pattern>
            <url-pattern>/javax.faces.resource/*</url-pattern>            
        </web-resource-collection>
        <auth-constraint>
            <role-name>MOHUSER</role-name>
            <role-name>PSDADMIN</role-name>
        </auth-constraint>
    </security-constraint>    

    <security-role>  
        <description/>
        <role-name>MOHUSER</role-name>
    </security-role>
    <security-role>  
        <description/>
        <role-name>PSDADMIN</role-name>
    </security-role>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <servlet-class>com.sun.errorhandler.ExceptionHandler</servlet-class>
        <init-param>
            <param-name>errorHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>errorPort</param-name>
            <param-value>24444</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SubmissionReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.SubmissionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialAuthorityFormsReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.SpecialAuthorityFormsReportServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>DrugBenefitCommitteeReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.DrugBenefitCommitteeReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmByApplicantReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.SubmByApplicantReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicalReviewReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.TechnicalReviewReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BudgetImpactAnalysisReportServlet</servlet-name>
        <servlet-class>fmdbwar.servlet.BudgetImpactAnalysisReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleDrugSubmissionStatusReport</servlet-name>
        <servlet-class>fmdbwar.servlet.SingleDrugSubmissionStatusReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <url-pattern>/error/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissionReportServlet</servlet-name>
        <url-pattern>/pages/reports/SubmissionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialAuthorityFormsReportServlet</servlet-name>
        <url-pattern>/pages/reports/SpecialAuthorityFormsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrugBenefitCommitteeReportServlet</servlet-name>
        <url-pattern>/pages/reports/DrugBenefitCommitteeReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmByApplicantReportServlet</servlet-name>
        <url-pattern>/pages/reports/SubmByApplicantReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicalReviewReportServlet</servlet-name>
        <url-pattern>/pages/reports/TechnicalReviewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetImpactAnalysisReportServlet</servlet-name>
        <url-pattern>/pages/reports/BudgetImpactAnalysisReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleDrugSubmissionStatusReport</servlet-name>
        <url-pattern>/pages/reports/SingleDrugSubmissionStatusReport</url-pattern>
    </servlet-mapping>
	<!-- Set to Keycloak's SSO Session Idle (30) + Time to account for the user login process (3) -->
    <session-config>
        <session-timeout>33</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/Search.xhtml</welcome-file>
        <welcome-file>Search.xhtml</welcome-file>
        <welcome-file>pages/reports/SubmissionReport.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/AccessDenied.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.FacesException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>    

</web-app>
