# Application
PORT=8080
HOST=localhost

# Payara console
PAYARA_PORT=4848

# Database variables
DB_NAME="fmdb"
DB_PORT="5432"
DB_HOST="localhost"
DB_DRIVER="postgresql"
JDBC_SETTING="jdbc:$DB_DRIVER://$DB_HOST:$DB_PORT/$DB_NAME"
PG_USER="fmdb_owner"
PG_PASSWORD=""

# Keycloak variables
PROVIDER_URI=""
REDIRECT_URI="http://$HOST:$PORT/FMDB/callback"
SITEMINDER_URI=""
fmdb_keycloak_client_secret=""

# Hardware configuration
XMX_DEV="-Xmx1024m"
XMS_DEV="-Xms512m"

# Enterprise configuration
CA_ROOT=""