.search-panel {
    margin-bottom: 20px
}
.serviceLink,
.serviceLink:hover{
    color: #ffffff;
    text-decoration: none; 
}
.page-title {
    display: inline-block;
    font-size: 35px;
    padding-left: 20px;
    position: absolute;
}
.app-navbar-logo {
    width: 1000px;
    padding: 20px 0;
}
.bcgov-logo-image {
    width: 10%;
}
.main-content-container {
    min-height: calc(100vh - 295px);
}
.input-row td {
    padding: 8px
}
.borderless.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.results-table {
    margin-bottom: 20px;
}
.drug-search-title {
    margin: 0 0 20px 0;
}
.square-list {
    list-style: square;
}
.alphabet-link,
.alphabet-link:enabled:hover,
.alphabet-link:enabled:focus,
.alphabet-link:enabled:active {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    padding-left: 22px !important;
    font-size: 1.3em !important;
    color: #0000EE !important;
    cursor: pointer !important;
    text-decoration: none !important;
    font-weight: normal !important;
    margin: 0 !important;
    min-width: 0 !important;
}

.alphabet-link:enabled:hover {
    color: #551A8B !important;
    text-decoration: underline !important;
}

.drug-result {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}
.drug-result.last-drug-result {
    padding-bottom: 0;
    border-bottom: none;
}
.strong-text {
    font-weight: 600;
}
