
/*Hide the default required asterisk, its on the wrong side for right aligned labels*/
.ui-outputlabel-rfi { display: none; }

.serviceLink,
.serviceLink:hover{
    color: #ffffff;
    text-decoration: none; 
}
.form-submit-buttons {
    margin: 10px 0px 10px 0px;
}
.preformatted {
    white-space: pre;
}

.submission-headers {
    padding: 10px 0px;
}
.submission-header {
    font-weight: 600;
    margin-left: 40px;
}

.info-green {
    color: #4cae4c
}
.error-class {
    color: red;
}

.ui-tabs {
    border: none;
}
.ui-tabs .ui-tabs-nav {
    border:none;
    border-bottom: 1px solid #dddddd;
    background: none;
    border-radius: 0px
}

.ui-tabs .ui-tabs-nav li a {
    margin-left: 0px;
}
.ui-tabs .ui-tabs-nav li {
    width: 180px;
}


h1.first-item {
    margin-top: 0px;
    margin-bottom: 20px;
}
.panel-header{
    margin: 0px 0px 0px 40px;
    padding-top: 20px;
}
.ui-tabs-panels {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.company-dialog-label.label-col.ui-grid-col-2 {
    width: 17.66%
}
.error-message {
    color: red;
}
.public-site-data-label {
    color: #3a8bb3;
    font-weight: 600;
}
.din-messages .ui-messages-error,
.din-messages .ui-messages-info {
    margin: 10px 0px -10px 60px
}
.contact-messages .ui-messages-error,
.contact-messages .ui-messages-info {
    margin: 10px 0px 0px 20px;
}

.date-pattern {
    color: #aaaaaa;
    font-size: 16px;
    padding-left: 10px;
}

.ui-g label {
    font-weight: 600
}